html {
  cursor: url('cursor.png'), auto;
  min-height: 100%;
}

body {
  background-image: url("Background.png");
}

div {
  padding: 25px 50px 75px;
}

a {
  cursor: url('cursor.png'), pointer;
}

* {
  text-align: center;
  color: black;
}
