<style>
body {
  background-image: url("Background.png");
border: 10px solid powderblue;
  padding: 10px;
  margin: 50px;
 cursor: url('C:\Users\Tyro\Desktop\HTSOA\Website\cursor.png'), auto;
}
* {
text-align: center;
  color: black;
}
</style>
