html {
  cursor: url('cursor.png'), auto;
  min-height: 100%;
}

body {
  background-image: url("Background.png");
}

div {
  padding: 25px 50px 75px;
}

a {
  cursor: url('cursor.png'), pointer;
}

* {
  font-family: Helvetica;
  text-align: center;
  color: black;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float:center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
